{% extends "layout.html" %}
{% block title %}
<title>Contact Me</title>
{% endblock %}

{% block pagestyles %}
<link href="{{ url_for('home_bp.static', filename='css/contact.css') }}" rel="stylesheet" type="text/css">
{% endblock %}

{% block content %}
<!-- Start your project here-->

{% include "head-black.html" %}

<main id="about-me" class="pb-5">
    <!-- Contact Me Grid Container -->
    <div class="container border-top border-bottom border-grey p-5 mb-5 mb-md-0">

        <!-- Row -->
        <div class="row justify-content-center">

            <!-- Title -->
            <div class="col-12 text-center white-color">
                <h1 class="font-poppins-light"> Contact <span class="green-color">Me</span> </h1>
            </div>
            <!--/Title -->

            <!-- Contact details -->
            <div class="col-12 mt-3 text-center">
                <p class="font-poppins white-color">Email: vinson@aia.com.sg <br> Contact number: 9431 8747 </p>
            </div>
            <!--/Contact details -->

            <!-- Form -->
            <div class="col-12">
                <form method="POST" action="{{ url_for('home_bp.contact') }}" class="font-poppins">
                    {{ form.csrf_token }}

                    <div class="row justify-content-center">

                        <!-- Name -->
                        <div class="col-md-6">
                            <fieldset class="md-form">
                                {{ form.name(class="form-control", maxlength="64") }}
                                {{ form.name.label }}
                            </fieldset>
                        </div>
                        <!--/Name -->

                        <!-- Mobile No. -->
                        <div class="col-md-6">
                            <fieldset class="md-form">
                                {{ form.mobile(class="form-control", maxlength="15") }}
                                {{ form.mobile.label }}
                            </fieldset>
                        </div>
                        <!--/Mobile No. -->

                        <!--Email -->
                        <div class="col-md-6">
                            <fieldset class="md-form">
                                {{ form.email(class="form-control", type="email", maxlength="100") }}
                                {{ form.email.label }}
                            </fieldset>
                        </div>
                        <!--/Mobile No. -->

                        <!-- Subject -->
                        <div class="col-md-6">
                            <fieldset class="md-form">
                                {{ form.subject(class="form-control") }}
                                {{ form.subject.label }}
                            </fieldset>
                        </div>
                        <!--/Subject -->

                        <!-- Subject -->
                        <div class="col-md-6">
                            <fieldset class="md-form">
                                {{ form.message(class="form-control") }}
                                {{ form.message.label }}
                            </fieldset>
                        </div>
                        <!--/Subject -->
                        <div class="col-md-12 d-flex justify-content-center">
                            {{ form.submit(class="btn flipcard-btn mt-3 white-color") }}
                        </div>
                    </div>
                </form>
            </div>
            <!--/Form -->

        </div>

    </div>
    <!--/Contact Me Grid Container -->
</main>

{% endblock %}
