{% extends "layout.html" %}
{% block title %}
<title>About Me</title>
{% endblock %}

{% block content %}
<!-- Start your project here-->
<header class="fixed-top bg-black d-flex justify-content-between">
    <!-- Fixed Top Left Corner Logo -->
    <a href="{{ url_for('home_bp.home') }}" id="logo">
        <img src="static/img/vinsonong.png" class="img-fluid" alt="Responsive image">
    </a>

    <!-- Fixed Top Navbar -->
    <nav class="navbar p-5 d-none d-md-flex justify-content-end shadow-none bg-transparent" id="navbar">
        <div class="list-group-horizontal list-group font-poppins-light white-color">
            <a href="{{ url_for('home_bp.home') }}" class="list-group-item">Home</a>
            <a href="{{ url_for('home_bp.about') }}" class="list-group-item">About me</a>
            <a href="{{ url_for('home_bp.experience') }}" class="list-group-item">Experience</a>
            <a href="{{ url_for('home_bp.contact') }}" class="list-group-item selected">Contact Me</a>
        </div>
    </nav>
    <!--/Fixed Top Navbar -->

    <!-- Navbar Expand Button -->
    <a id="sidebar-expand" class="btn bg-transparent z-depth-0 p-3 d-md-none" onclick="toggleSidebar()" id="sidebar-expand">
        <i id="sidebar-expand-icon" class="fas fa-bars fa-2x white-color"></i>
    </a>
    <!--/Navbar Expand Button -->

    <!-- Full Screen Popup Navbar -->
    <nav id="sidebar" class="p-5 d-flex align-items-center justify-content-center">
        <!-- Sidebar Options-->
        <div class="list-group list-group-flush font-poppins grey-color">
            <!-- Option 1 -->
            <a href="{{ url_for('home_bp.home') }}" type="button" class="list-group-item text-center">
                Home
            </a>
            <!-- Option 2 -->
            <a href="{{ url_for('home_bp.about') }}" type="button" class="list-group-item text-center">
                About Me
            </a>
            <!--/Option 2-->

            <!-- Option 3 -->
            <a href="{{ url_for('home_bp.experience') }}" type="button" class="border-white list-group-item text-center">
                Experience
            </a>
            <!--/Option 3-->
            <!-- Option 4 -->
            <a href="{{ url_for('home_bp.contact') }}" type="button" class="border-white list-group-item text-center">
                Contact Me
            </a>
            <!--/Option 4-->
        </div>
        <!--/Sidebar Options -->
    </nav>
    <!--/Full Screen Popup Navbar -->
</header>
<main id="about-me" class="pb-5">
    <!-- Contact Me Grid Container -->
    <div class="container border-top border-bottom border-grey p-5 mb-5 mb-md-0">

        <!-- Row -->
        <div class="row justify-content-center">

            <!-- Title -->
            <div class="col-12 text-center white-color">
                <h1 class="font-poppins-light"> Contact <span class="green-color">Me</span> </h1>
            </div>
            <!--/Title -->

            <!-- Contact details -->
            <div class="col-12 mt-3 text-center">
                <p class="font-poppins white-color">Email: vinson@aia.com.sg <br> Contact number: 9431 8747 </p>
            </div>
            <!--/Contact details -->

            <!-- Form -->
            <div class="col-12">
                <form method="POST" action="mailto:vinson1493@gmail.com" method="post" enctype="text/plain" class="font-poppins">
                    {{ form.csrf_token }}

                    <div class="row justify-content-center">

                        <!-- Name -->
                        <div class="col-md-6">
                            <fieldset class="md-form">
                                {{ form.name(class="form-control") }}
                                {{ form.name.label }}
                            </fieldset>
                        </div>
                        <!--/Name -->

                        <!-- Mobile No. -->
                        <div class="col-md-6">
                            <fieldset class="md-form">
                                {{ form.mobile(class="form-control") }}
                                {{ form.mobile.label }}
                            </fieldset>
                        </div>
                        <!--/Mobile No. -->

                        <!--Email -->
                        <div class="col-md-6">
                            <fieldset class="md-form">
                                {{ form.email(class="form-control") }}
                                {{ form.email.label }}
                            </fieldset>
                        </div>
                        <!--/Mobile No. -->

                        <!-- Subject -->
                        <div class="col-md-6">
                            <fieldset class="md-form">
                                {{ form.subject(class="form-control") }}
                                {{ form.subject.label }}
                            </fieldset>
                        </div>
                        <!--/Subject -->

                        <!-- Subject -->
                        <div class="col-md-6">
                            <fieldset class="md-form">
                                {{ form.message(class="form-control") }}
                                {{ form.message.label }}
                            </fieldset>
                        </div>
                        <!--/Subject -->
                        <div class="col-md-12 d-flex justify-content-center">
                            {{ form.submit(class="btn flipcard-btn mt-3 white-color") }}
                        </div>
                    </div>
                </form>
            </div>
            <!--/Form -->

        </div>

    </div>
    <!--/Contact Me Grid Container -->
</main>

{% endblock %}
