{% extends "layout.html" %}

{% block title %}
<title>Vinson</title>
{% endblock %}

{% block content %}
<!-- Start your project here-->
{% include "head-transparent.html" %}

<main id="landing-page" class="vh-100 d-flex align-items-center justify-content-center">
    <!-- Intro -->
    <div class="container mt-5 mt-md-0 d-flex justify-content-center">

        <!-- Row -->
        <div class="row justify-content-center rgba-stylish-light">

            <!-- Column 2-->
            <div class="col-md-12 text-left p-3 d-flex flex-column justify-content-center">
                <h1 class="font-poppins white-color"> Hi there, I am <span class="green-color font-poppins-bold">Vinson</span> </h1>
                <div class="typewriter">
                    <p class="font-courier-lg white-color">Financial Consultant</p>
                    <p class="font-courier-lg white-color">Web Developer</p>
                    <p class="font-courier-lg white-color">Hobbyist Photographer</p>
                </div>
            </div>
            <!--/Column 2-->

        </div>
        <!--/Row -->


    </div>
    <!--/Intro -->
</main>
{% endblock %}
