{% extends "layout.html" %}
{% block title %}
<title>Contact Me</title>
{% endblock %}

{% block pagestyles %}
<link href="{{ url_for('home_bp.static', filename='css/contact.css') }}" rel="stylesheet" type="text/css">
{% endblock %}

{% block content %}
<!-- Start your project here-->
{% include "head-black.html" %}

<main id="about-me" class="pb-5">
    <!-- Contact Me Grid Container -->
    <div class="container border-top border-bottom border-grey p-5 mb-5 mb-md-0">

        <!-- Row -->
        <div class="row justify-content-center">

            <!-- Title -->
            <div class="col-12 text-center white-color">
                <h1 class="font-poppins-light"> Contact <span class="green-color">Me</span> </h1>
            </div>
            <!--/Title -->

            <!-- Contact details -->
            <div class="col-12 mt-3 text-center">
                <p class="font-poppins white-color">Email: vinson@aia.com.sg <br> Contact number: 9431 8747 </p>
            </div>
            <!--/Contact details -->

            <div class="col-12 mt-3 text-center">
                <p class="font-poppins white-color">I will be in touch with you shortly. For urgent matters, please contact me through my mobile number.</p>
            </div>

        </div>

    </div>
    <!--/Contact Me Grid Container -->
</main>

{% endblock %}
